.main {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.submain {
  width: 70%;
  height: 250px;
  color: white;
  border-radius: 20px;
  border: 1px solid white;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text */
  padding: 20px; /* Add some padding */
  background: linear-gradient(to right, #141414 , #1C4B79);

}

.header1 {
  font-size: 2.5rem; /* Increase font size for better visibility */
  margin-bottom: 20px; 
}

.talk-button {
  background-color: #3399ff; /* Button background color */
  color: white; /* Button text color */
  padding: 10px 20px; /* Button padding */
  font-size: 1.2rem; /* Button font size */
  border: none; /* Remove default border */
  border-radius: 25px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; 
  margin-top: 8px;
  text-decoration: none;
}

.talk-button:hover {
  background-color: #007acc; /* Darker shade on hover */
}
